@import "partials/reset.scss";
@import "partials/mobile.scss";


$font: 'Encode Sans Expanded', sans-serif;
$color: #18AFAF;
$headerSize: 26px;
$value: 2px;
* {
  font-family: $font;
  box-sizing: border-box;
}
img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


.buttons {
  background:$color;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px;
  font-family: $font;
}

.inputComponent{
  grid-area: head;
  width: 100%;
  margin-top: 10px;
  background: lighten(yellow, 20%);
  display: grid;
  align-content: center;
  justify-content: center;
  form {
    input{
      text-align: center;
    }
    input, button{
      width: 200px;
      align-self: stretch;
      justify-self: stretch;
      font-family: $font;
      @media screen and (max-width: 800px) {
        width: 100%;
        align-self: center;
        margin: 3%;
      }
    }
  }
}
.about{
  display:grid;
  grid: 100%/ 50% 50%;
  align-items: center;
  justify-content: center;
  h4{
    text-align: center;
    color: white;
    line-height: 2rem;
    align-self: center;
    padding: 10px;
    @media screen and (max-width: 800px) {
      font-size: 20px;
    }
    span {
      color: $color;
      font-weight: bolder;
    }
  }
  ul {
    background: lighten(gray, 30%);
    margin: 10px;
    list-style: none;
    display: grid;
    align-items: end;
    justify-items: center;
    li {
      margin: 10px;
      img {
        display: block;
        margin: 0 auto;
        width: 75px;
        height: 75px;
      }
      a {
        font-size: 12px;
        margin-left: 2px;
        text-align: center;
      }
    }
  }
}
.error {
  display: grid;
  h3 {
    align-self: center;
    justify-self: center;
    color: white;
    font-family: $font;
    font-weight: bold;
  }
}
.mainSection {
  grid-area: main;
  background: lighten(gray, 20%);
  margin: 10px 0;
  align-content: center;
  .recipeContainer{
    .recipesBtns{
      background: lighten(gray, 30%);
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 10px 20px;
      margin: 20px 30px 10px 30px;
      // button {
      //   background:$color;
      //   color: white;
      //   border-radius: 10px;
      // }
      button, span {
        padding: 5px 10px;
        margin: 10px;
      }
      span {
        font-family: $font;
        color: white;
        font-weight: bolder;
      }
    }
    ul {
      background: lighten(gray, 20%);
      list-style: none;
      display:grid;
      grid: repeat(5, auto) / 1fr 1fr;
      padding:10px 20px;
      @media screen and (max-width: 800px) {
        display: grid;
        grid: repeat(10, auto) / 100%;
        align-content: center;
      }
      li {
        margin: 20px 20px;
        display: grid;
        background: lighten(gray, 30%);
        button, h2, img {
          justify-self: center;
          margin: 10px;
        }
        h2 {
          font-family: $font;
          font-size: 20px;
          color: $color;
          text-align: center;
        }
        p {
          margin: 10px;
          text-align: center;
          a {
            margin: 10px;
            text-decoration: none;
            font-family: $font;
            color: white;
            font-weight: bolder;
            padding: 10px 20px;
            @media screen and(max-width: 800px) {
              display: none;
            }
          }
        }
      }
    }
  }
}
.randomSection {
  margin: 10px 0;
  grid-area: sidebar;
  background: lighten(gray, 20%);
  display: grid;
  align-content: center;
  .randomRecipe {
    background: lighten(gray, 30%);
  }
  .randomLanding, .randomRecipe {
    margin: 20px 20px;
    display: grid;
    button, h2, img {
      justify-self: center;
      margin: 10px;
    }
    h2 {
      font-family: $font;
      font-size: 20px;
      color: $color;
      text-align: center;
    }
    p {
      margin: 10px;
      text-align: center;
      a {
        margin: 10px;
        text-decoration: none;
        font-family: $font;
        color: white;
        font-weight: bolder;
        padding: 10px 20px;
      }
    }
  }
}

/// FAVOURITE DUPLI

.favouriteSection {
  margin: 10px 0;
  grid-area: favourite;
  background: lighten(gray, 20%);
  display: grid;
  align-content: start;
  h3{
    font-family: $font;
    color: white;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bolder;
  }
  ul{
    list-style: none;
  }
  .favouriteRecipe {
    background: lighten(gray, 30%);
    margin: 20px 20px;
    display: grid;
    button, h2, h3, h4, img {
      justify-self: center;
      margin: 10px;
    }
    h2, h3, h4 {
      font-family: $font;
      color: $color;
      text-align: center;
    }
    @for $i from 2 through 4 {
      h#{$i} {font-size: $headerSize - ($value*$i)}
    }
    p {
      margin: 10px;
      text-align: center;
      a {
        margin: 10px;
        text-decoration: none;
        font-family: $font;
        color: white;
        font-weight: bolder;
        padding: 10px 20px;
      }
    }
  }
}



 .appContainer {
   background-color: $color;
   min-width: 100%;
   min-height: 100vh;
   max-height: 100%;
   justify-content: center;
   align-content: center;
   display: grid;
   grid-template-columns: 50px minmax(60%,100%) 50px 30% 50px;
   grid-template-rows: 100px minmax(500px,100%) auto;
   grid-template-areas:
     ".  head head head ."
     ".  main . sidebar ."
     ".  main . favourite .";
  @media screen and (max-width:800px) {
    min-width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    max-height: 100%;
    padding: 2%;
    display: grid;
    grid-template-columns:  100%;
    grid-template-rows: 100%;
    grid-template-areas:
      "head"
      "sidebar"
      "main"
      "favourite"
  }

 }
